* {
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    overflow-y: scroll;
}

.item-hotel {
    position: relative;
    display: flex;
    width: 85%;
    height: 200px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 2px black;
}

.item-hotel > img {
    height: 100%;
    width: fit-content;
}

.percent-discount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 38px;
    background-color: red;
    border-radius: 20px;
    top: 10px;
    left: 12px;

}

.percent-discount p { 
    font-size: clamp(25px,70%,10px)
}

.div-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.div-information {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    padding-left: 5px;
    overflow: hidden;
} 
.title p {
    font-size: 36px;
    white-space: nowrap;
}
.assessment {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    padding-left: 5px;
}
.assessment img {
    width: fit-content;
    height: 90%;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 25%;
    padding-left: 5px;
}
.price .discountless {
    font-size: 12px;
    color: red;
    text-decoration: line-through;
}
.price .discount {
    font-size: 20px;
}

.data {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    overflow: hidden;
    padding-left: 5px;
}
.data p {
    font-size: 20px;
    white-space: nowrap;

}
.place {
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 100%;
    height: 15%;
}
.place p {
    font-size: 16px;
}

.div-bottuns {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
}
.div-bottuns input {
    display: none;
}
.div-bottuns label input:checked + .favoritar { 
    filter: grayscale(0.5) drop-shadow(0px 0px 3px );

}
.div-bottuns label input:not(:checked) + .favoritar { 
    filter: grayscale(0) drop-shadow(0px 0px 5px );
}
.div-bottuns label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: fit-content;
}

.favoritar {
    width: 80%;
    margin-top: 10px;
    margin-bottom: auto;
    height: fit-content;
    filter: drop-shadow(0px 0px 5px );
}
.map {
    width: 50%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: 10px;
}
.map img {
    width: 100%;
    height: 100%;
}